.donar-section {
  display: flex;
  justify-content: center;
}
.new-donar-button {
  text-align: center;
  margin-top: 50px;
}
.new-donar-button button {
  height: 35px;
}
.donar-form {
  text-align: center;
  display: none;
}
.donar-form input {
  width: 300px;
}
#submit-button {
  width: 150px;
  height: 40px;
  background-color: yellow;
}
