.missing-post-section {
  display: flex;
  justify-content: center;
}
.new-missing-post-button {
    text-align: center;
    margin-top: 50px;
  }
  .new-missing-post-button button {
    height: 35px;
  }
  .new-post-form {
    text-align: center;
    display: none;
  }
  .new-post-form input {
    width: 300px;
  }
  #submit-button {
    width: 150px;
    height: 40px;
    background-color: yellow;
  }
  